body
{
    font: Arial, sans-serif;
}

#app_body {
    background: #F7F8F8 !important;
}

input {
    background: none;
    border: 1px solid red;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clr {
    clear: both;
    font-size: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

.main-views {
    width: 100%;
    float: left;
}

#slider-container {
    width: 960px;
}

button {
    width: 250px;
}

span.form_and {
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
}

.bored_submit {
    position: relative;
    bottom: 0;
}

.bored_submit button {
    width: 200px;
    height: 31px;
    border: none;
    background: url("img/bored_button.png") top left no-repeat;
}

/*copied styles start */
#navbar-home h2,
#navbar-grouped h2 {
    display: inline-block;
    font-size: 1.1em;
    margin: 1em 0 1.5em 1em;
}

#navbar-home img,
#navbar-grouped img {
	float: left;
    width: 4em;
    height: 4em;
    margin: 0;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.km-ios #navbar-home .km-listview,
.km-ios #navbar-grouped .km-list {
    background-color: #eaf1f5;
}


.km-android div.km-view {
    -webkit-box-direction: normal;
}

/*copied styles end */

.footer_search {
    background: blue;
    text-align: center;
}

.local_activities {
    height: 100px;
    width: 200px;
    margin: 25px 0;
    border: 1px solid red;
}

.navigation {
    height: 60px;
    background: url("img/navigation_bg.png") top left repeat-x;
}

.first_tab_header {
    height: 60px;
    background: url("img/first_tab_header_bg.png") top left repeat-x;
}

.km-view-title {
    visibility: visible;
}

#back-button {
    margin: 10px 0 0 0;
}

#create_event {
    width: 24px;
    height: 26px;
    margin: 19px 9px 0;
    background: url("img/add_icon.png") top left no-repeat;
}

.people_container {
    height: 83px;
    color: #34393C;
    border-top: 1px solid #C5C7C8;
    padding: 1px 0 0 0;
}

.event_container {
    height: 83px;
    color: #34393C;
    border-top: 1px solid #C5C7C8;
    padding: 1px 0 0 0;
}

.people_container img {
    margin: 0 15px 0 0;
    border: 1px solid #828484;
}

.event_container img {
    width: 80px;
    height: 80px;
    margin: 0 15px 0 0;
    border: 1px solid #828484;
}

.event_container .item_desc {
    font-size: 11px;
}

.people_container .item_title {
    margin: 15px 0 0 0;
    width: 210px;
    font-size: 16px;
}

.event_container .item_title {
    margin: 9px 0 0 0;
    width: 210px;
    font-size: 14px;
}

.result {
    background: #F7F8F8;
}

a.list_people {
    color: #34393C;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 90px;
}

a.list_events {
    color: #34393C;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 90px;
}

.km-navbar.small_nav {
    background: #F7F8F8;
    height: 35px;
}

.list_choice.active_list {
    background: orange;
    border-radius: 5px;
}

.list_choice {
    margin: 5px 0 0 0;
}

.first_tab {
    background: url("img/navigation_bg.png") #8C1822 top left repeat-x;
}

.km-content.km-scroll-wrapper {
    background: #34393C;
}