body
{
    font: Arial, sans-serif;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

.main-views {
    width: 100%;
    float: left;
}

#slider-container {
    width: 960px;
}

button {
    width: 250px;
}

span.form_and {
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
}

.bored_submit {
    position: relative;
    bottom: 0;
}
